{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    <style>
        body{
            background: #eee url(http://subtlepatterns.com/patterns/sativa.png);
        }

        .links {
            position:fixed;
            left:20px;
            bottom:25px;
            font-size:18px;
            color:#fff
        }

        .centered-form{
            margin-top: 60px;
        }

        .centered-form .panel{
            background: rgba(255, 255, 255, 0.8);
            box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Registration</h3>
                    </div>
                    <div class="panel-body">

                        {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.username) }}
                        {{ form_row(registrationForm.plainPassword) }}

                        <button class="btn btn-info btn-block login">Register</button>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="links">
        <noindex>
            <a rel="noffolow" target="_blank" href="/login">Войти</a>
             |
            <a rel="noffolow" target="_blank" href="/main">На главную</a>
        </noindex>
    </div>
{% endblock %}